<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.criswjh.mapper.EduCourseMapper">

  <resultMap id="BaseResultMap" type="top.criswjh.entity.EduCourse">
    <id property="id" column="id" jdbcType="BIGINT"/>
    <result property="teacherId" column="teacher_id" jdbcType="BIGINT"/>
    <result property="classId" column="class_id" jdbcType="BIGINT"/>
    <result property="title" column="title" jdbcType="VARCHAR"/>
    <result property="lessonNum" column="lesson_num" jdbcType="INTEGER"/>
    <result property="cover" column="cover" jdbcType="VARCHAR"/>
    <result property="joinCount" column="join_count" jdbcType="INTEGER"/>
    <result property="status" column="status" jdbcType="INTEGER"/>
    <result property="gmtCreate" column="gmt_create" jdbcType="TIMESTAMP"/>
    <result property="gmtUpdate" column="gmt_update" jdbcType="TIMESTAMP"/>
  </resultMap>

  <sql id="Base_Column_List">
    id,teacher_id,class_id,
        title,lesson_num,cover,
        join_count,status,gmt_create,
        gmt_update
  </sql>
  <select id="getCourseInfo" resultType="top.criswjh.entity.vo.course.CourseInfoVo">
    SELECT c.id,
           teacher_id,
           class_id,
           title,
           lesson_num,
           cover,
           description
    FROM edu_course c
           LEFT JOIN edu_course_description d ON c.id = d.course_id
    WHERE c.id = #{courseId}
  </select>
  <select id="getCoursePublishInfo" resultType="top.criswjh.entity.vo.CoursePublishVo">
    SELECT ec.id,
           ec.title,
           ec.cover,
           ec.lesson_num,
           cd.description,
           su.username,
           c.title as class_title
    FROM edu_course ec
           LEFT JOIN edu_course_description cd ON ec.id = cd.course_id
           LEFT JOIN sys_user su ON ec.teacher_id = su.id
           LEFT JOIN edu_class c on ec.class_id = c.id
    WHERE ec.id = #{courseId}
  </select>
  <select id="getHotList" resultType="top.criswjh.entity.EduCourse">
    select
    <include refid="Base_Column_List"/>
    from edu_course
    order by join_count desc
    limit 8
  </select>
  <select id="getCourseByClassId" resultType="top.criswjh.entity.vo.course.CourseVo">
    SELECT c.id, c.cover, c.title, c.status, u.username as teacher_name, ec.title as class_name
    from edu_course c
           join sys_user u on c.teacher_id = u.id
           join edu_class ec on c.class_id = ec.id
    where c.class_id = #{classId}
  </select>
</mapper>
