<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.criswjh.mapper.SysUserRoleMapper">

  <resultMap id="BaseResultMap" type="top.criswjh.entity.SysUserRole">
    <id property="id" column="id" jdbcType="BIGINT"/>
    <result property="userId" column="user_id" jdbcType="BIGINT"/>
    <result property="roleId" column="role_id" jdbcType="BIGINT"/>
  </resultMap>

  <sql id="Base_Column_List">
    id,user_id,role_id
  </sql>
  <select id="getUserIdsByRoleId" resultType="java.lang.Long">
    select user_id
    from sys_user_role
    where role_id = #{roleId}
  </select>
  <select id="getUserIdsByRoleName" resultType="java.lang.Long">
    SELECT sur.user_id
    FROM sys_user_role sur
           LEFT JOIN sys_role sr ON sur.role_id = sr.id
    WHERE sr.NAME = #{roleName}
  </select>
  <select id="getHotUserIdsByRoleName" resultType="java.lang.Long">
    SELECT sur.user_id
    FROM sys_user_role sur
           LEFT JOIN sys_role sr ON sur.role_id = sr.id
    WHERE sr.NAME = #{roleName}
    order by sr.id
    limit 4
  </select>
</mapper>
